$themeColor : #341f97;
$themeColorDark : #280d69;
$secondColor : #B33771;
$thirdColor : #ae6989;
$greyColor : #b4cbd6;
$greyColor2 : #dfe6e9;


$floatLeft:left;
$floatRight:right;

$textLeft : left;
$textRight : right;

$maxMobile : "(max-width: 767px)";
$maxSmall : "(max-width: 991px)";
$minSmall : "(min-width: 768px)";
$minMedium : "(min-width: 992px)";
$minLarge : "(min-width: 1200px)";