.dropdown{
    .dropdown-menu{
        min-width:100%;
        padding: 0;
        text-align: center;
        border-radius: 5px;
        z-index:999;
        .dropdown-toggle{
            margin-bottom: 5px;
        }
        a.dropdown-item{
            color: black;
            display: block;
            padding: 7px 0;
            @include transition(all, 0.5s);
            i{
                color: $themeColor;
                margin: 0 10px;
            }
        }
        a.active{
            background-color: $themeColor;
            color: white;
        }
        a:hover{
            background-color: $themeColor;
            color: white;
            text-decoration: none;
            i{
                color: white;
            }
        }
    }
}